:root {
  --headline-fonts: "Oranienbaum", serif;
  --secondary-font: "Quicksand", sans-serif;
  --border-color: #e57a44;
  --clover-color: #3a7d44;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h2 {
  font-family: var(--headline-fonts);
  letter-spacing: 3.5px;
}

h1 {
  font-size: 100px;
  line-height: 3rem;
  letter-spacing: 30px;
  color: #e57a44;
  padding: 0 150px;
  line-height: 120px;
  margin-bottom: 35px;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: white;
  border-bottom: solid 1px #4ba258;
  color: #4ba258;
  margin-bottom: 40px;
}

h3 {
  font-family: var(--secondary-font);
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 0 !important ;
  padding: 15px 5px;
}

p {
  font-family: var(--secondary-font);
  font-weight: 400;
}

p .hero {
  font-size: 22px;
  line-height: 28px;
  padding-top: 80px;
  padding-bottom: 30px;
}

.lookingFor,
.about,
.needAdvice {
  padding: 40px 250px;
}

.slider {
  font-size: 22px;
  line-height: 28px;
  padding: 50px;
}

.temp {
  background-color: #181d27;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.hero {
  display: flex;
  background-color: #181d27;
  margin: 0 auto;
  padding: 20px 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.slider-home {
  display: flex;
  background-size: auto;
  background-color: #181d27;
  margin: 0 auto;
  padding: 20px 60px;
  text-align: center;
  height: 750px;
  justify-content: center;
  align-items: center;
  color: white;
}

#arrow {
  color: white;
  font-size: 32px;
  padding-top: 50px;
}

.content {
  padding: 50px 0;
}

.containerFooter {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.activityImages {
  border-radius: 20px 20px 0 0;
  border-color: var(--border-color);
  border-style: solid 2px;
}

.activityCards {
  border-radius: 20px;
  border-color: var(--border-color);
  border-style: solid 2px;
  background-color: var(--border-color);
  transition: transform 0.2s;
}

.activityCards:hover {
  transform: scale(1.05);
}

.needAdvice {
  background-color: #dfeadf;
  margin-top: 50px;
}

.accordion-button {
  font-family: var(--secondary-font);
  color: var(--clover-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 20px 10px;
}

.accordion-button.collapsed {
  background-color: #dfeadf;
}
.accordion-button:not(.collapsed) {
  background-color: var(--clover-color);
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: #dfeadf;
  font-family: var(--secondary-font);
  color: var(--clover-color);
}

.soon {
  text-align: center;
  background-color: var(--clover-color);
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
  font-weight: 900;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    padding: 0;
    margin-bottom: 35px;
    text-align: center;
    line-height: 3.4rem;
    letter-spacing: 1.8px;
  }

  h2 {
    line-height: 2.3rem;
    letter-spacing: 2px;
    font-size: 28px;
    text-transform: uppercase;
    padding: 15px 0 30px 0;
  }

  p {
    font-size: 16px;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    margin: 0;
  }

  .hero {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
  }

  .temp {
    background-color: #181d27;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 50px;
  }
}
